<div style="margin-top:20px">
    <div class="wrapper">
        <h1>Education</h1>
        <ul>
            <li><b>2019 - Present</b>: PhD student at the <a href="http://www.bg.ac.rs/en/education/interdisciplinary/intelligent-systems.php">University of Belgrade</a>
                <br>- Research in Natural Language Processing and Automatic Short Answer Grading
            </li>
            <li><b>2017-2018</b>: MSc in Artificial Intelligence at the <a href="https://mosig.imag.fr/">Université Grenoble Alpes</a>
            </li>
            <li><b>2013-2017</b>: BSc in Computer Science at the <a href="http://www.fon.bg.ac.rs/eng/">University of Belgrade</a></li>
        </ul>

        <h1>Experience</h1>
        <ul>
            <li><b>2022 - Present</b>: Artificial Intelligence Engineer at <a href="https://www.bosch-ai.com/">Robert Bosch</a></li>
            <li><b>2019 - 2022</b>: Software Engineer at the NCR Corporation</li>
            <li><b>2017-2018</b>: Research Intern at the <a href="https://www.liglab.fr/">Laboratoire d'Informatique de Grenoble (LIG)</a>
                <br>- Research in simulating ethical reasoning in Multi-Agent Systems
            </li>
            <li><b>2015-2017</b>: Undergraduate Teaching Assisstant at the <a href="http://www.fon.bg.ac.rs/eng/">University of Belgrade</a>
                <br>- Teaching undergraduate courses in software development and computer simulation
            </li>
        </ul>

        <h1>Awards</h1>
        <ul>
            <li><b>2017</b>: French Government Scholarship for Master 2 studies</li>
            <li><b>2017</b>: Institut polytechnique de Grenoble Foundation Scholarship for Master 2 studies</li>
            <li><b>2017</b>: Dositeja Scholarship for master studies by Foundation for Young Talents (Serbia)</li>
        </ul>
    </div>
</div>