<div style="margin-top:20px">
    <div class="wrapper">
        <h1>Education</h1>
        <ul>
            <li>2019 - Present: PhD student at the University of Belgrade
                <br>- Research in Natural Language Processing and Automatic Short Answer Grading
            </li>
            <li>2017-2018: MSc in Artificial Intelligence at the University Grenoble-Alpes
            </li>
            <li>2013-2017: BSc in Computer Science at the University of Belgrade</li>
        </ul>

        <h1>Experience</h1>
        <ul>
            <li>2019 - Present: Software Engineer at the NCR Corporation</li>
            <li>2017-2018: Research Intern at the Informatics Laboratory Grenoble
                <br>- Research in simulating ethical reasoning in Multi-Agent Systems
            </li>
            <li>2015-2017: Undergraduate Teaching Assisstant at the University of Belgrade
                <br>- Teaching undergraduate courses in software development and computer simulation
            </li>
        </ul>

        <h1>Awards</h1>
        <ul>
            <li>2017: French Government Scholarship for Master 2 studies</li>
            <li>2017: Institut polytechnique de Grenoble Foundation Scholarship for Master 2 studies</li>
            <li>2017: Dositeja Scholarship for master studies by Foundation for Young Talents (Serbia)</li>
        </ul>
    </div>
</div>