.profile-pic {
  float: center;
  width: 150px;
  border: #ccc 1px solid;
  margin-left: 40%;
  margin-bottom: 20px;
  border-radius: 100%;

  @include media-query($on-mobile) {
    float: center;
    margin-bottom: 20px;
    margin-left: 35%;
    display:flex;
  }
}

.footer-col {
  font-size: 14px;

  h4 {
    margin-bottom: 0;
    margin-top: 0;
    line-height: 30px;
  }

  .social-links {
    display: flex;
    flex-wrap: wrap;

    .social-link {
      display: flex;
      width: 100%;
      align-items: flex-start;
      line-height: 16px;
      margin-top: 6.5px;
      margin-bottom: 10px;

      img {
        width: 22px;
        height: 22px;
      }

      a {
        margin-left: 6px;
        word-break: break-all;
      }
    }

    @include media-query($on-mobile) {
      font-size: 14px;
      line-height: 38px;
    }
  }
}