.work-item {
  clear: both;
  overflow: hidden;
  padding-bottom: 3em;
}

.work-bubble {
  float: left;
  margin-right: 3%;
  width: 100px;
  height: 100px;
  border: 2px solid $grey-color-light;
  border-radius: 100%;
}

.work-section {
  margin-top: 3%;
  border-bottom: 1px solid $grey-color-light;
}